body{
    text-align: center;
    background-color: rgb(46, 0, 88);
}

#big-title{
    color: blanchedalmond;
    font-family:'Press Start 2P',cursive;
    font-size : 3rem;
    margin:5%;
    line-height: 1.5;
}

.container{
    margin:auto;
    width:50%;
}

.game-over{
    background-color:red;
    opacity: 0.8;
   
}

.pressed{
box-shadow: 0 0 20px white;
background-color:grey;
}

.btn{
    margin:25px;
    display : inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius:20%;
}

.red{
    background-color:red;
}

.green{
    background-color: green;
}

.blue{
    background-color:blue;
}

.yellow{
    background-color: yellow;
}